body{
    background-color: rgb(209, 209, 161);
}
article{
    height: 578px;
    width: 1366px;
}
.button{
    display: flex;
    height: 100%;
    width: 100%;
    align-content: center;
    text-align: center;
    justify-content: center;
}
.line-1{
    height: 1px;
    width: 110%;
    background-color: black;
}
.container{
display:flex;
justify-content:flex-end;/*try to change this to center for example*/
}
.kontainer{
    display:flex;
    justify-content: flex-start;
}
.circle{
    display:inline-block;
    width: 200px; 
    height: 200px; 
    border: 1px solid black; 
    border-radius: 50%;
    background-color: yellow;
}
header{
    margin-top: -1px;
}
.container > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    align-content: center;
    justify-content: center;
    border-style: box;
    border-radius: 8px 8px 8px 8px;
    color: black;
    text-align: center;
    border: 1px solid black;
}
#message us{
    border: 1px solid black;
    height: 578px;
    width: 1366px;
}
li{    
    float:left;
    padding: 8px 8px;
    text-decoration: none;
    border: 1px solid black;
    align-content: center;
    justify-content: center;
}
.logo{
margin-right: auto
}
.content{
    flex-direction: row;
    display: flex;
}
.content> div{
    display: flex;
    flex: 1;
    align-content: center;
}
input[type=text]{
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=date]{
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=submit]{
    width: 100%;
    background-color: white;
    color: black;
    padding: 8px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 5px;
}
.comment{
    border:1px solid black;
    height: 289px;
    width: 683px;
}
footer>p{
    text-align: end;
}